// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "reset";
@import "variables";
@import "mixins";

body {
	.flexColumn;
	background-color: #colors[bg0];
	padding: #spaces[lg];
	font-family: #fonts[f1];
	color: #colors[fg1];
	@media (max-width: calc(50rem * 0.625)) { 
		padding: 0;
	}
	header,footer,nav>a.navCurrent {
		background-color: #colors[bg2];
	}
	a,p,li,th,td { 
		font-size: #fontSizes[sm]; 
		color: #colors[fg1]; 
	}
	a { text-decoration: none; }
	h1 { 
		font-size: #fontSizes[lg]; 
		color: #colors[em0];
		margin-top: #spaces[lg];
	}
	h2 { 
		font-size: #fontSizes[med];
		border-bottom: 0.1rem dashed #colors[fg1]; /* vscode doesnt' like #spaces[sm] here */
	}
	h1,h2 { 
		font-weight: bold; 
		display: inline-block;
		margin-bottom: #spaces[lg]; 
	}
	button { 
		outline: none; 
		border: 0; 
		margin: 0.5rem 0; 
		color: #colors[fg1]; 
		background-color: #colors[bg1]; 
		font-family: #fonts[f1];
		&:focus,&:hover {
			outline: 0.1rem dashed #colors[em0];
			font-weight: bold;
		}
	}
	.flexRowDesktop {
		.flexRow;
		justify-content: stretch;
		@media (max-width: calc(50rem * 0.625)) {
			.flexColumn;
			justify-content: flex-start;
		}
		>section {
			width: 50%;
			@media (max-width: calc(50rem * 0.625)) {
				width: 100%;
			}
		}
	}
	footer,header,nav>a {
		border-left: 0.1rem solid #colors[fg0];
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding: 0;
		>a:hover:not(.navCurrent) {
			font-weight: bold;
		}
		>a:focus {
			font-weight: bold;
			border: 0.1rem dashed #colors[em0];	
		}
		>.navCurrent:hover {
			cursor: default;
		}
	}
	nav>a, button {
		padding: #spaces[lg];
		background-color: #colors[bg1];
	}
	nav>a { margin-left: #spaces[med]; }
	header { 
		.flexColumn;
		align-items: flex-start;
		img {
			width: 20rem;
		}
	}
	section {
		table {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			th { 
				font-weight: bold; 
				text-align: left;
			}
		}
		ol,ul {
			list-style: none;
		}
		li:nth-child(odd),table>tbody>tr:nth-child(odd) {
			background-color: #colors[bg1];
		}
	}
	.tableSection {
		overflow-x: auto;
	}
}












