// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "reset";


// Variables: Incorporate variables in your project for color and font stacks.
//  Nesting: Every selector should be nested inside the main container. Avoid having global styles unless they are element level.
//  Mixins: Create 2 mixins of your choosing. Hint: It's super helpful to use flexbox properties in mixins
//  Mobile: Use nested-at rules to provide a mobile version of your resume. Use 500px as a max-width for mobile.

@bg0: #222;
@bg1: #333;
@bg2: #444;
@fg0: #aaa;
@fg1: #bbb;
@fg2: #ccc;
@font1: 'Courier New', Courier, monospace;

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: @bg0;
	padding: 1rem;
	font-family: @font1;
	@media (max-width: 600px) { 
		padding: 0;
	}
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: inline-block;
	padding: 1rem;
}
header { 
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 2.2rem;
}
h2 { font-size: 2.0rem; }
h1,h2 { 
	color: @fg1; 
	font-weight: bold; 
	border-bottom: 1px dotted @fg1; 
	display: inline-block;
	margin-bottom: 1rem; 
}
a,p,li,th,td { font-size: 1.6rem; color: @fg1; }
th { font-weight: bold; text-align: left;}
a { text-decoration: none; }
ol,ul {
	list-style: none;
}
li:nth-child(odd) {
	background-color: @bg2;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.tableSection {
	overflow-x: auto;
}
tbody>tr:nth-child(odd) {background-color: @bg1;}
th,td {
	border-bottom: 1px solid @fg1;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 0;
}
nav>a {
	padding: 1rem;
	background-color: @bg1;
	margin-left: 1rem;
}

header,footer,nav>a.navCurrent {
	background-color: @bg2;
}

.flexRowDesktop {
	display: flex;
	flex-direction: column;
	@media (min-width: 600px) {
		flex-direction: row;
		justify-content: stretch;
	}
	>section {
		@media (min-width: 600px) {
			width: 50%;
		}
	}
}

footer,header,nav a {
	border-left: 0.1rem solid @fg0;
}